<div class="navbar navbar-default navbar-fixed-top" id="bs-example-navbar-collapse-7">
  <ul class="nav navbar-nav">
    <li class="active"><%= link_to 'Index', todos_path %></li>
    <li><%= link_to 'List', todos_list_path %></li>
    <li><%= link_to 'Crear ToDo', todos_new_path %></li>
  </ul>
</div>
